#Add into file

#zone [mysqld]

query_cache_limit = 2M
query_cache_size = 64M
join_buffer_size = 1M
tmp_table_size = 128M
max_heap_table_size = 128M
table_open_cache = 400

#key_buffer = 2048M
key_buffer_size = 2048M
innodb_buffer_pool_size = 2048M

#Best Practices Reference
open_files_limit=10000
max_allowed_packet=268435456
myisam_sort_buffer_size = 128M
read_buffer_size = 1M
sort_buffer_size = 2M

local-infile=0

