[mysqld]

#general 
key_buffer = 2048M
key_buffer_size = 2048M
table_open_cache = 400
max_heap_table_size = 128M
tmp_table_size = 128M
query_cache_limit = 2M
query_cache_size = 64M
join_buffer_size = 1M


#myisam 
myisam_sort_buffer_size = 128M


#innodb
innodb_buffer_pool_size = 2048M

#seguridad
local-infile=0


set-variable=local-infile=0
datadir=/var/lib/mysql
socket=/var/lib/mysql/mysql.sock
user=mysql
# Default to using old password format for compatibility with mysql 3.x
# clients (those using the mysqlclient10 compatibility package).
old_passwords=1
 
# nueva configuracion
# este parámetro es fundamental, hay que registrar las consultas lentas, todas las que duren mas de 2 segundos.
# asi se puede ver las consultas que se hacen y que tienen que ser optimizadas
log-slow-queries=/var/log/mysql-slow-queries.log
long_query_time = 2
log-queries-not-using-indexes
query_cache_type=1
max_connections=500
interactive_timeout=100

# Reducido wait_timeout para prevenir que clientes inactivos retengan una conexion.
wait_timeout=30
connect_timeout=10
# establecido a 128 para que no use mas memoria
thread_cache_size=128

join_buffer=1M
max_allowed_packet=16M
table_cache=512
record_buffer=1M
sort_buffer_size=2M
read_buffer_size=2M
max_connect_errors=10

[mysqld_safe]
log-error=/var/log/mysqld.log
pid-file=/var/run/mysqld/mysqld.pid

# nueva configuracion
open_files_limit=10000

# nueva configuracion

[mysql]
no-auto-rehash

#safe-updates
# nueva configuracion

[isamchk]
key_buffer=64M
sort_buffer=64M
read_buffer=16M
write_buffer=16M
 
[myisamchk]
key_buffer=64M
sort_buffer=64M
read_buffer=16M
write_buffer=16M
 
[mysqlhotcopy]
interactive-timeout
